.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.main-container {
  margin: auto;
  max-width: 1200px;
  width: 100%;
}

.main-container p {
  font-size: 1.5em;
}

p.completed {
  text-decoration: line-through; 
}

.filter-todos {
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
}
